[[.GoNotice]]package configuration

import (
 "strings"

 "github.com/frost-leo/fathomry/framework/configuration"
)

// Only explicitly authorized fields receive process/dotenv overrides.
// Adding a business field does not automatically expose it to ambient variables.
func variables(environment string) []configuration.Variable {
 return []configuration.Variable{{
  Name:variablePrefix(environment)+"I18N_DEFAULT_LOCALE",
  Field:"/i18n/default_locale",
 }}
}

func variablePrefix(environment string) string {
 return "[[.Prefix]]_"+strings.ToUpper(strings.ReplaceAll(environment,"-","_"))+"_"
}
